@{
    ViewBag.Title = "Conferma recupero password";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            Ti abbiamo inviato un'email con le istruzioni per reimpostare la password.
            Controlla la tua casella di posta.
        </p>
    </div>
</div>

<style>
    .great-vibes {
        font-family: "Great Vibes", serif;
        font-weight: 400;
        font-style: normal;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #369;
    }

        .navbar .nav-link:hover {
            color: white;
        }
</style>

<section class="grid min-h-[80vh] place-items-center bg-gray-100 px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
        <p class="text-base font-semibold text-[#38679D]">Ottimo!</p>
        <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">Controlla la tua casella di posta.</h1>
        <p class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">Ti abbiamo inviato un'email con le istruzioni per reimpostare la password.</p>
    </div>
</section>