<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        .great-vibes {
            font-family: "Great Vibes", serif;
            font-weight: 400;
            font-style: normal;
        }

        .navbar .navbar-brand,
        .navbar .nav-link {
            color: #369;
        }

            .navbar .nav-link:hover {
                color: white;
            }
    </style>
</head>
<body>
    <main class="grid min-h-[80vh] place-items-center bg-gray-100 px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
            <p class="text-base font-semibold text-[#38679D]">404</p>
            <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl">Pagina non trovata</h1>
            <p class="mt-6 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">Ci dispiace, non riusciamo a trovare la pagina che stai cercando.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/" class="rounded-md bg-[#38679D] px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-[#38679D]/90 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#38679D]">Torna alla home</a>
                <a href="/Home/Contact" class="text-sm font-semibold text-gray-900">Contatta il supporto <span aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </main>
</body>
</html>
