@{
    ViewBag.Title = "Investitori";
}

<style>
    .great-vibes {
        font-family: "Great Vibes", serif;
        font-weight: 400;
        font-style: normal;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #369;
    }

    .navbar .nav-link:hover {
        color: white;
    }
</style>

<div
   class="relative bg-white dark:bg-dark pt-[120px] pb-[110px] lg:pt-[150px] px-12"
   >
   <div class="container mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
         <div class="w-full px-4 lg:w-5/12">
            <div class="hero-content" data-aos="fade-right" data-aos-duration="1000">
               <h1
                  class="mb-5 text-4xl font-bold !leading-[1.208] text-dark dark:text-white sm:text-[42px] lg:text-[40px] xl:text-5xl"
                  >
                  Diventa socio
               </h1>
               <p class="mb-8 lg:max-w-[480px] text-base text-body-color dark:text-dark-6">
                   FloreMoria sta rivoluzionando il settore della commemorazione, unendo tradizione e innovazione in un servizio unico che porta fiori in modo sostenibile direttamente sulle tombe in tutti i cimiteri d’Italia.

                   <br />Oggi FloreMoria cresce ed espande la propria offerta: accanto alle consegne floreali per onorare i defunti nei cimiteri e le commemorazioni private (B2C), offriamo consegne e addobbi floreali per camere ardenti, funerali e cerimonie pubbliche, rivolgendoci anche a agenzie funebri, imprese, enti pubblici e amministrazioni comunali (B2B, B2B2C, B2G).
                   In un mercato in espansione, rispondiamo a un bisogno emotivo profondo e, allo stesso tempo, generiamo nuove opportunità economiche grazie a un modello scalabile e basato su abbonamenti ricorrenti e partnership. Con una filiera efficiente, partner locali e una strategia di crescita mirata, FloreMoria è pronta a conquistare una fetta significativa del mercato commemorativo, pubblico e privato.
                   📩 Scarica la nostra LOI e il pitch deck per scoprire proiezioni finanziarie, strategia e potenziale di investimento...
                   e poi DIVENTA SOCIO!
                   <span class="block text-end italic mt-5">Salvatore Marsiglione CEO & Founder FloreMoria s.r.l.</span>
               </p>
               <ul class="flex flex-wrap items-center justify-center">
                  <li>
                     <a
                        href="https://www.floremoria.com/_files/ugd/21b44f_ed6fe831c5824590baad9e37b6a6b848.pdf"
                        class="inline-flex items-center justify-center py-3 px-5 text-center text-base font-medium text-[#464646] dark:text-white hover:text-primary"
                        >
                        <span class="mr-2">
                           <svg
                              width="24"
                              height="25"
                              viewBox="0 0 24 25"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                              >
                              <circle cx="12" cy="12.6152" r="12" fill="#3758F9" />
                              <rect
                                 x="7.99893"
                                 y="14.979"
                                 width="8.18182"
                                 height="1.63636"
                                 fill="white"
                                 />
                              <rect
                                 x="11.2717"
                                 y="7.61523"
                                 width="1.63636"
                                 height="4.09091"
                                 fill="white"
                                 />
                              <path
                                 d="M12.0898 14.1606L14.9241 11.0925H9.25557L12.0898 14.1606Z"
                                 fill="white"
                                 />
                           </svg>
                        </span>
                        Scarica LOI
                     </a>
                  </li>
                  <li>
                     <a
                        href="https://www.floremoria.com/_files/ugd/21b44f_00b4ab1054db436ca074ff0635f2699d.pdf"
                        class="inline-flex items-center justify-center py-3 px-5 text-center text-base font-medium text-[#464646] dark:text-white hover:text-primary"
                        >
                        <span class="mr-2">
                           <svg
                              width="24"
                              height="25"
                              viewBox="0 0 24 25"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                              >
                              <circle cx="12" cy="12.6152" r="12" fill="#3758F9" />
                              <rect
                                 x="7.99893"
                                 y="14.979"
                                 width="8.18182"
                                 height="1.63636"
                                 fill="white"
                                 />
                              <rect
                                 x="11.2717"
                                 y="7.61523"
                                 width="1.63636"
                                 height="4.09091"
                                 fill="white"
                                 />
                              <path
                                 d="M12.0898 14.1606L14.9241 11.0925H9.25557L12.0898 14.1606Z"
                                 fill="white"
                                 />
                           </svg>
                        </span>
                        Scarica Pitch Deck
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="hidden px-4 lg:block lg:w-1/12"></div>
         <div class="w-full px-4 lg:w-6/12">
            <div class="lg:ml-auto lg:text-right">
               <div class="relative z-10 inline-block pt-11 lg:pt-0">
                  <img
                     src="https://images.unsplash.com/photo-1615280825886-fa817c0a06cc?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                     alt="hero"
                     class="w-190 lg:ml-auto h-180 rounded-tl-[8em]"
                     />
                  <span class="absolute -left-8 -bottom-8 z-[-1]">
                     <svg
                        width="93"
                        height="93"
                        viewBox="0 0 93 93"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <circle cx="2.5" cy="2.5" r="2.5" fill="#3056D3" />
                        <circle cx="2.5" cy="24.5" r="2.5" fill="#3056D3" />
                        <circle cx="2.5" cy="46.5" r="2.5" fill="#3056D3" />
                        <circle cx="2.5" cy="68.5" r="2.5" fill="#3056D3" />
                        <circle cx="2.5" cy="90.5" r="2.5" fill="#3056D3" />
                        <circle cx="24.5" cy="2.5" r="2.5" fill="#3056D3" />
                        <circle cx="24.5" cy="24.5" r="2.5" fill="#3056D3" />
                        <circle cx="24.5" cy="46.5" r="2.5" fill="#3056D3" />
                        <circle cx="24.5" cy="68.5" r="2.5" fill="#3056D3" />
                        <circle cx="24.5" cy="90.5" r="2.5" fill="#3056D3" />
                        <circle cx="46.5" cy="2.5" r="2.5" fill="#3056D3" />
                        <circle cx="46.5" cy="24.5" r="2.5" fill="#3056D3" />
                        <circle cx="46.5" cy="46.5" r="2.5" fill="#3056D3" />
                        <circle cx="46.5" cy="68.5" r="2.5" fill="#3056D3" />
                        <circle cx="46.5" cy="90.5" r="2.5" fill="#3056D3" />
                        <circle cx="68.5" cy="2.5" r="2.5" fill="#3056D3" />
                        <circle cx="68.5" cy="24.5" r="2.5" fill="#3056D3" />
                        <circle cx="68.5" cy="46.5" r="2.5" fill="#3056D3" />
                        <circle cx="68.5" cy="68.5" r="2.5" fill="#3056D3" />
                        <circle cx="68.5" cy="90.5" r="2.5" fill="#3056D3" />
                        <circle cx="90.5" cy="2.5" r="2.5" fill="#3056D3" />
                        <circle cx="90.5" cy="24.5" r="2.5" fill="#3056D3" />
                        <circle cx="90.5" cy="46.5" r="2.5" fill="#3056D3" />
                        <circle cx="90.5" cy="68.5" r="2.5" fill="#3056D3" />
                        <circle cx="90.5" cy="90.5" r="2.5" fill="#3056D3" />
                     </svg>
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<h2 class="text-dark px-7 dark:text-white mb-6 font-bold uppercase lg:text-3xl mt-14 text-center">
    Vantaggi di diventare socio FloreMoria
</h2>
<div class="w-[85%] lg:w-[75%] mx-auto mt-20 mb-20 py-12 px-4 bg-blue-200 rounded-md">
    <div class="flex items-center flex-col lg:flex-row gap-4 lg:gap-0">

        <div class="px-6 sm:w-full lg:w-1/3">
            <div class="rounded-lg bg-[#38679D] flex items-center justify-center overflow-hidden">
                <div class="w-1/4 bg-transparent flex items-center justify-center">
                    <img src="https://img.icons8.com/?size=40&id=0e3hP1iJd0ha&format=png&color=ffffff" alt="Alternate Text" />
                </div>
                <div class="w-3/4 p-4 bg-white">
                    <h2 class="text-md font-bold">1. Fiscale</h2>
                    <p class="text-sm text-gray-600">Credito d'imposta 65% per investimenti in Startup innovative ed esenzione delle tasse sulla plusvalenza in exit.</p>
                </div>
            </div>
        </div>

        <div class="flex-1 flex items-center justify-center rotate-90 lg:rotate-none">
            <i class="fa fa-arrow-right fa-2x"></i>
        </div>

        <div class="px-6 sm:w-full lg:w-1/3">
            <div class="rounded-lg bg-[#38679D] flex items-center justify-center overflow-hidden">
                <div class="w-1/4 bg-transparent flex items-center justify-center">
                    <img src="https://img.icons8.com/?size=40&id=12089&format=png&color=ffffff" alt="Alternate Text" />
                </div>
                <div class="w-3/4 p-4 bg-white">
                    <h2 class="text-md font-bold">2. Finanziario</h2>
                    <p class="text-sm text-gray-600">Un discount tra 5-20% solo per i primi sottoscrittori del SAFE e un anno di tempo per eseguire i versamenti.</p>
                </div>
            </div>
        </div>

        <div class="flex-1 flex items-center justify-center rotate-90 lg:rotate-none">
            <i class="fa fa-arrow-right fa-2x"></i>
        </div>

        <div class="px-6 sm:w-full lg:w-1/3">
            <div class="rounded-lg bg-[#38679D] flex items-center justify-center overflow-hidden">
                <div class="w-1/4 bg-transparent flex items-center justify-center">
                    <img src="https://img.icons8.com/?size=40&id=JFPjm3gboODv&format=png&color=ffffff" alt="Alternate Text" />
                </div>
                <div class="w-3/4 p-4 bg-white">
                    <h2 class="text-md font-bold">3. Commerciale</h2>
                    <p class="text-sm text-gray-600">I soci potranno usufruire del privilegio a vita: lo sconto del 10% su ogni acquisto.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="mx-4 flex flex-wrap pt-14 headerImg relative">
    <div class="w-full px-4">
        <div class="mx-auto mb-12 max-w-4xl text-center lg:mb-20">
            <span class="text-[#38679D]  mb-2 block text-lg font-semibold">
                Il procedimento
            </span>
            <h2 class="text-dark dark:text-white mb-3 text-3xl leading-[1.2] font-bold sm:text-4xl md:text-[40px]">
                Come funziona?
            </h2>
            <p class="text-body-color text-md dark:text-dark-6">
                Aderisci all'aumento di capitale deliberato da Floremoria attraverso gli Strumenti Finanziari Partecipativi, seguendo la procedura di On-Boarding qui sotto.          
            </p>
        </div>
    </div>
</div>
<div class="p-7">
    <section class="pt-20 pb-7 px-4 dark:bg-dark bg-[url(https://images.unsplash.com/photo-1622902321324-82a4487ecb48?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] bg-cover bg-center ">
        <div class="container mx-auto">
            <div class="-mx-4 flex flex-wrap">
                <div class="w-full px-4 md:w-1/2" data-aos="fade-up" data-aos-duration="500">
                    <div class="mb-9 rounded-[20px] bg-white dark:bg-dark-2 p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10 md:h-140 lg:h-100">
                        <div class="bg-[#38679D]  mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl">
                            <img src="https://img.icons8.com/?size=40&id=1395&format=png&color=ffffff" alt="Alternate Text" />
                        </div>
                        <h4 class="text-dark dark:text-white mb-[14px] text-2xl font-semibold">
                            1. Documenti in pdf che ti consigliamo di leggere ma che non sono da compilare.
                        </h4>
                        <a class="text-body-color dark:text-dark-6 block" href="https://www.floremoria.com/_files/ugd/21b44f_eb898e1f60fe4881b420230735fb7805.pdf">LETTERA ACCOMPAGNATORIA</a>
                        <a class="text-body-color dark:text-dark-6 block" href="https://www.floremoria.com/_files/ugd/21b44f_4e4d933adb1641809e49eb4a57fe8197.pdf">REGOLAMENTO</a>
                        <a class="text-body-color dark:text-dark-6 block" href="https://www.floremoria.com/_files/ugd/21b44f_d144e7ac09874a65b8532003a7c0dc1e.pdf">NOTA INVESTITORI</a>
                        <a class="text-body-color dark:text-dark-6 block" href="https://www.floremoria.com/_files/ugd/21b44f_00b4ab1054db436ca074ff0635f2699d.pdf">PITCH DECK</a>
                        <a class="text-body-color dark:text-dark-6 block" href="https://www.floremoria.com/_files/ugd/21b44f_161a205f224f45a1a6a336d6c58e55f0.pdf">VISURA</a>
                    </div>
                </div>
                <div class="w-full px-4 md:w-1/2" data-aos="fade-up" data-aos-duration="500">
                    <div class="mb-9 rounded-[20px] bg-white dark:bg-dark-2 p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10 md:h-140 lg:h-100">
                        <div class="bg-[#38679D]  mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl">
                            <img src="https://img.icons8.com/?size=40&id=t5GRNS5yIsHP&format=png&color=ffffff" alt="Alternate Text" />
                        </div>
                        <h4 class="text-dark dark:text-white mb-[14px] text-2xl font-semibold">
                            2. Documenti in pdf che è necessario compilare prima di procedere.
                        </h4>
                        <a class="text-body-color dark:text-dark-6 block" href="https://www.floremoria.com/_files/ugd/21b44f_04e8d6c575d3482fb94fdb02bca8acc5.pdf">MODULO INVESTITORE</a>
                        <a class="text-body-color dark:text-dark-6 block" href="https://www.floremoria.com/_files/ugd/21b44f_e1f61ac8f4a24062940fd143b4b50355.pdf">MODULO INVESTITORE | SOCIETÀ</a>
                        <a class="text-body-color dark:text-dark-6 block" href="https://www.floremoria.com/_files/ugd/21b44f_237e90dac9e24cf6afa3679d024770b3.pdf">INFORMATIVA PRIVACY INVESTITORI</a>
                        <a class="text-body-color dark:text-dark-6 block" href="https://www.floremoria.com/_files/ugd/21b44f_3d8649985b5649e7b901867a78e5321c.pdf">DICHIARAZIONE ANTIRICICLAGGIO (solo società)</a>
                    </div>
                </div>
                <div class="w-full px-4 md:w-1/2" data-aos="fade-up" data-aos-duration="500">
                    <div class="mb-9 rounded-[20px] bg-white dark:bg-dark-2 p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10 md:h-140 lg:h-100">
                        <div class="bg-[#38679D]  mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl">
                            <img src="https://img.icons8.com/?size=37&id=L7LnDiH43EH2&format=png&color=ffffff" alt="Alternate Text" />
                        </div>
                        <h4 class="text-dark dark:text-white mb-[14px] text-2xl font-semibold">
                            3. Effettua il tuo bonifico coerentemente con quanto dichiarato nella LOI.
                        </h4>
                        <p class="text-body-color dark:text-dark-6 text-wrap">
                            BENEFICIARIO:  Floremoria Srl

                            <br /><span class="break-words">IBAN:  IT95F0301503200000004331813</span>

                            <br />CAUSALE:  SFP Floremoria Srl - Nome e Cognome 
                        </p>
                    </div>
                </div>
                <div class="w-full px-4 md:w-1/2" data-aos="fade-up" data-aos-duration="500">
                    <div class="mb-9 rounded-[20px] bg-white dark:bg-dark-2 p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10 md:h-140 lg:h-100">
                        <div class="bg-[#38679D]  mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl">
                            <img src="https://img.icons8.com/?size=45&id=JFPjm3gboODv&format=png&color=ffffff" alt="Alternate Text" />
                        </div>
                        <h4 class="text-dark dark:text-white mb-[14px] text-2xl font-semibold pb-7">
                            4. Clicca sul pulsante DIVENTA SOCIO per inserire i dati e i documenti richiesti, necessari a formalizzare il tuo investimento.
                        </h4>
                        <a href="https://coda.io/form/Modulo-di-investimento_dUGq_gfUGcz?Password=1636&Email%20Referente=staff.floremoria%40gmail.com&Company=FloreMoria" class="tm-intro-text tm-btn-primary text-xl lg:text-2xl block lg:inline">Diventa socio <i class="fas fa-arrow-right ms-3 align-center text-xl"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>