@{
    ViewBag.Title = "Partner";
}

<style>
    .great-vibes {
        font-family: "Great Vibes", serif;
        font-weight: 400;
        font-style: normal;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #369;
    }

    .navbar .nav-link:hover {
        color: white;
    }

    input::placeholder, textarea::placeholder {
        color: gray;
    }
</style>

<section class="relative z-10 overflow-hidden bg-white dark:bg-dark py-20 lg:py-[120px] px-12">
    <div class="container mx-auto">
        <div class="gap-12">
            <div class="w-full mb-12">
                <div>
                    <span class="block mb-4 text-base font-semibold text-primary">
                        Fioristi partner
                    </span>
                    <h2 class="text-dark dark:text-white mb-6 text-[32px] font-bold uppercase sm:text-[40px] lg:text-[36px] xl:text-[40px]">
                        Collaborazioni per Fioristi: Valore e Vantaggi con FloreMoria! Nessun abbonamento, nessun canone, nessuna percentuale sul vostro guadagno.
                    </h2>
                    <p class="text-md leading-relaxed text-body-color dark:text-dark-6 mb-9">
                        Noi vi ordiniamo i bouquet per i nostri utenti, voi consegnate, ci inviate foto e fattura e noi paghiamo.
                    </p>
                    <section class="py-20 md:py-[10px] bg-white dark:bg-dark mb-28">
                        <div class="container mx-auto">
                            <div class="relative z-10 overflow-hidden rounded bg-[#38679D] p-8 md:p-[50px]">
                                <div class="flex flex-wrap items-center -mx-4">
                                    <div class="w-full">
                                        <h2 class="text-white mb-6 text-xl font-semibold">Valorizziamo il commercio locale e di prossimità</h2>
                                        <p class="text-md leading-relaxed text-white/90">
                                            FloreMoria nasce con l'obiettivo di supportare i fioristi locali, perché crediamo nell'importanza del commercio di prossimità e nella qualità del lavoro artigianale. Collaboriamo esclusivamente con fioristi del territorio, garantendo che ogni ordine generi valore per le attività locali.

                                            Unendoti alla nostra rete, non solo aumenterai il tuo lavoro, ma contribuirai anche a mantenere viva la tradizione floreale della tua comunità. Insieme, possiamo offrire un servizio innovativo senza sacrificare l'autenticità e la qualità del lavoro locale.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <span class="absolute top-0 left-0 z-[-1]">
                                        <svg width="189"
                                             height="162"
                                             viewBox="0 0 189 162"
                                             fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <ellipse cx="16"
                                                     cy="-16.5"
                                                     rx="173"
                                                     ry="178.5"
                                                     transform="rotate(180 16 -16.5)"
                                                     fill="url(#paint0_linear)" />
                                            <defs>
                                                <linearGradient id="paint0_linear"
                                                                x1="-157"
                                                                y1="-107.754"
                                                                x2="98.5011"
                                                                y2="-106.425"
                                                                gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="white" stop-opacity="0.07" />
                                                    <stop offset="1" stop-color="white" stop-opacity="0" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </span>
                                    <span class="absolute bottom-0 right-0 z-[-1]">
                                        <svg width="191"
                                             height="208"
                                             viewBox="0 0 191 208"
                                             fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <ellipse cx="173"
                                                     cy="178.5"
                                                     rx="173"
                                                     ry="178.5"
                                                     fill="url(#paint0_linear)" />
                                            <defs>
                                                <linearGradient id="paint0_linear"
                                                                x1="-3.27832e-05"
                                                                y1="87.2457"
                                                                x2="255.501"
                                                                y2="88.5747"
                                                                gradientUnits="userSpaceOnUse">
                                                    <stop stop-color="white" stop-opacity="0.07" />
                                                    <stop offset="1" stop-color="white" stop-opacity="0" />
                                                </linearGradient>
                                            </defs>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section data-aos="fade-up" data-aos-duration="1000">
                        <h2 class="text-dark dark:text-white mb-6 font-bold uppercase lg:text-3xl">
                            Entra a far parte della rete FloreMoria: più clienti, più ordini, più opportunità
                        </h2>
                        <p class="text-md leading-relaxed text-body-color dark:text-dark-6 mb-9">
                            FloreMoria è la prima piattaforma in Italia che connette fioristi locali ai clienti distanti grazie ad un servizio unico: la consegna di fiori sulle tombe in oltre 24.000 cimiteri italiani e in camera ardente, addobbi floreali per funerali e addobbi per amministrazioni comunali con foto inviata al cliente finale.

                            La nostra missione è valorizzare il lavoro dei fioristi, che offra nuove opportunità di crescita e guadagno.
                        </p>
                        <ul class="space-y-3">
                            <li class="text-body-color dark:text-dark-6 flex text-md">
                                <span class="text-primary mr-2.5 mt-0.5">
                                    <svg width="20"
                                         height="20"
                                         viewBox="0 0 20 20"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_980_24852)">
                                            <path d="M10 0.5625C4.78125 0.5625 0.5625 4.78125 0.5625 10C0.5625 15.2188 4.78125 19.4688 10 19.4688C15.2188 19.4688 19.4688 15.2188 19.4688 10C19.4688 4.78125 15.2188 0.5625 10 0.5625ZM10 18.0625C5.5625 18.0625 1.96875 14.4375 1.96875 10C1.96875 5.5625 5.5625 1.96875 10 1.96875C14.4375 1.96875 18.0625 5.59375 18.0625 10.0312C18.0625 14.4375 14.4375 18.0625 10 18.0625Z"
                                                  fill="currentColor" />
                                            <path d="M12.6875 7.09375L8.96875 10.7188L7.28125 9.0625C7 8.78125 6.5625 8.8125 6.28125 9.0625C6 9.34375 6.03125 9.78125 6.28125 10.0625L8.28125 12C8.46875 12.1875 8.71875 12.2813 8.96875 12.2813C9.21875 12.2813 9.46875 12.1875 9.65625 12L13.6875 8.125C13.9688 7.84375 13.9688 7.40625 13.6875 7.125C13.4063 6.84375 12.9688 6.84375 12.6875 7.09375Z"
                                                  fill="currentColor" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_980_24852">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                                <span>
                                    <b>Più ordini, più fatturato:</b>&nbsp; collaborando con FloreMoria, riceverai ordini aggiuntivi senza investimenti pubblicitari o costi fissi. Ti basterà preparare i bouquet, consegnarli nel cimitero della tua zona e inviarci la foto.
                                </span>
                            </li>
                            <li class="text-body-color dark:text-dark-6 flex text-md">
                                <span class="text-primary mr-2.5 mt-0.5">
                                    <svg width="20"
                                         height="20"
                                         viewBox="0 0 20 20"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_980_24852)">
                                            <path d="M10 0.5625C4.78125 0.5625 0.5625 4.78125 0.5625 10C0.5625 15.2188 4.78125 19.4688 10 19.4688C15.2188 19.4688 19.4688 15.2188 19.4688 10C19.4688 4.78125 15.2188 0.5625 10 0.5625ZM10 18.0625C5.5625 18.0625 1.96875 14.4375 1.96875 10C1.96875 5.5625 5.5625 1.96875 10 1.96875C14.4375 1.96875 18.0625 5.59375 18.0625 10.0312C18.0625 14.4375 14.4375 18.0625 10 18.0625Z"
                                                  fill="currentColor" />
                                            <path d="M12.6875 7.09375L8.96875 10.7188L7.28125 9.0625C7 8.78125 6.5625 8.8125 6.28125 9.0625C6 9.34375 6.03125 9.78125 6.28125 10.0625L8.28125 12C8.46875 12.1875 8.71875 12.2813 8.96875 12.2813C9.21875 12.2813 9.46875 12.1875 9.65625 12L13.6875 8.125C13.9688 7.84375 13.9688 7.40625 13.6875 7.125C13.4063 6.84375 12.9688 6.84375 12.6875 7.09375Z"
                                                  fill="currentColor" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_980_24852">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                                <span>
                                    <b>Una grande oportunità:</b>&nbsp; diventerai parte di un circuito che valorizza i fioristi locali e garantisce continuità di lavoro durante tutto l’anno.
                                </span>
                            </li>
                            <li class="text-body-color dark:text-dark-6 flex text-md">
                                <span class="text-primary mr-2.5 mt-0.5">
                                    <svg width="20"
                                         height="20"
                                         viewBox="0 0 20 20"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_980_24852)">
                                            <path d="M10 0.5625C4.78125 0.5625 0.5625 4.78125 0.5625 10C0.5625 15.2188 4.78125 19.4688 10 19.4688C15.2188 19.4688 19.4688 15.2188 19.4688 10C19.4688 4.78125 15.2188 0.5625 10 0.5625ZM10 18.0625C5.5625 18.0625 1.96875 14.4375 1.96875 10C1.96875 5.5625 5.5625 1.96875 10 1.96875C14.4375 1.96875 18.0625 5.59375 18.0625 10.0312C18.0625 14.4375 14.4375 18.0625 10 18.0625Z"
                                                  fill="currentColor" />
                                            <path d="M12.6875 7.09375L8.96875 10.7188L7.28125 9.0625C7 8.78125 6.5625 8.8125 6.28125 9.0625C6 9.34375 6.03125 9.78125 6.28125 10.0625L8.28125 12C8.46875 12.1875 8.71875 12.2813 8.96875 12.2813C9.21875 12.2813 9.46875 12.1875 9.65625 12L13.6875 8.125C13.9688 7.84375 13.9688 7.40625 13.6875 7.125C13.4063 6.84375 12.9688 6.84375 12.6875 7.09375Z"
                                                  fill="currentColor" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_980_24852">
                                                <rect width="20" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                                <span>
                                    <b>Zero burocrazia, massima semplicità:</b>&nbsp; gestiamo noi la piattaforma, gli ordini e i pagamenti. Tu pensi solo a creare composizioni floreali di qualità e a consegnarle.
                                </span>
                            </li>
                        </ul>
                    </section>
                    <p class="text-dark dark:text-white mb-6 font-bold uppercase lg:text-3xl mt-30">
                        Entra in FloreMoria e fai crescere il tuo business con noi.
                        <br />Sei pronto a ricevere più ordini e a far parte di un progetto innovativo?
                    </p>
                </div>
            </div>
            <section class="py-20 md:py-[10px] bg-white dark:bg-dark">
                <div class="container mx-auto">
                    <div class="relative z-10 overflow-hidden rounded bg-[#38679D] py-12 px-8 md:p-[50px]">
                        <div class="flex flex-wrap items-center -mx-4">
                            <div class="w-full px-4 lg:w-3/4">
                                <span class="block mb-4 text-base font-medium text-white">
                                    Entriamo in contatto
                                </span>
                                <h2 class="mb-6 text-3xl font-bold leading-tight text-white sm:mb-8 sm:text-[40px]/[48px] lg:mb-0">
                                    <span class="xs:block">Per aderire subito al programma compila il </span>
                                    <span>modulo di contratto o contattaci per ricevere maggiori informazioni!</span>
                                </h2>
                            </div>
                            <div class="w-full px-4 lg:w-1/4">
                                <div class="flex flex-wrap lg:justify-end">
                                    <a href="https://tally.so/r/mDvoeR" target="_blank"
                                       class="inline-flex py-3 my-1 text-base font-medium text-xl text-white transition rounded-md bg-blue-300 px-7 hover:bg-opacity-90 call">
                                        Modulo <i class="fas fa-arrow-right ms-3 self-center"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="absolute top-0 left-0 z-[-1]">
                                <svg width="189"
                                     height="162"
                                     viewBox="0 0 189 162"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="16"
                                             cy="-16.5"
                                             rx="173"
                                             ry="178.5"
                                             transform="rotate(180 16 -16.5)"
                                             fill="url(#paint0_linear)" />
                                    <defs>
                                        <linearGradient id="paint0_linear"
                                                        x1="-157"
                                                        y1="-107.754"
                                                        x2="98.5011"
                                                        y2="-106.425"
                                                        gradientUnits="userSpaceOnUse">
                                            <stop stop-color="white" stop-opacity="0.07" />
                                            <stop offset="1" stop-color="white" stop-opacity="0" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </span>
                            <span class="absolute bottom-0 right-0 z-[-1]">
                                <svg width="191"
                                     height="208"
                                     viewBox="0 0 191 208"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="173"
                                             cy="178.5"
                                             rx="173"
                                             ry="178.5"
                                             fill="url(#paint0_linear)" />
                                    <defs>
                                        <linearGradient id="paint0_linear"
                                                        x1="-3.27832e-05"
                                                        y1="87.2457"
                                                        x2="255.501"
                                                        y2="88.5747"
                                                        gradientUnits="userSpaceOnUse">
                                            <stop stop-color="white" stop-opacity="0.07" />
                                            <stop offset="1" stop-color="white" stop-opacity="0" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="absolute bottom-0 right-0 z-[-1]">
        <svg width="1440"
             height="886"
             viewBox="0 0 1440 886"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.5"
                  d="M193.307 -273.321L1480.87 1014.24L1121.85 1373.26C1121.85 1373.26 731.745 983.231 478.513 729.927C225.976 477.317 -165.714 85.6993 -165.714 85.6993L193.307 -273.321Z"
                  fill="url(#paint0_linear)" />
            <defs>
                <linearGradient id="paint0_linear"
                                x1="1308.65"
                                y1="1142.58"
                                x2="602.827"
                                y2="-418.681"
                                gradientUnits="userSpaceOnUse">
                    <stop stop-color="#3056D3" stop-opacity="0.36" />
                    <stop offset="1" stop-color="#F5F2FD" stop-opacity="0" />
                    <stop offset="1" stop-color="#F5F2FD" stop-opacity="0.096144" />
                </linearGradient>
            </defs>
        </svg>
    </div>
</section>